<td class="whitespace-nowrap px-6 py-4">
  <div class="flex items-center gap-3">
    <div
      class="flex h-8 w-8 items-center justify-center rounded-full bg-blue-50 font-semibold text-blue-600 text-xs border border-blue-100">
      A
    </div>
    <span class="font-semibold text-slate-900 text-sm">Admin</span>
  </div>
</td>
<td class="whitespace-nowrap px-6 py-4 text-slate-500 text-xs">admin&#64;accesshub.com</td>
<td class="whitespace-nowrap px-6 py-4">
  <span
    class="inline-flex items-center rounded-md bg-blue-50 px-2 py-0.5 text-xxs font-bold text-blue-600 border border-blue-100 uppercase tracking-wide">Admin</span>
</td>
<td class="whitespace-nowrap px-6 py-4 text-right">
  <button class="text-slate-400 hover:text-slate-600 p-1 rounded hover:bg-slate-100 transition-colors">
    <lucide-icon [img]="MoreHorizontal" class="w-4 h-4"></lucide-icon>
  </button>
</td>